@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* --dark sidebar rgb(63, 43, 43)--- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
  }
:root{
  --pri-sidebar:rgb(66, 55, 123);
  --pri-sidebar-color:rgb(240, 229, 229);
  --pri-sidebar-hover:#fff;
  --pri-sidebar-color-hover:rgb(89, 69, 62);
  --pri-card-content-color:rgb(251, 251, 251);
  --pri-card1-content-bg:#7DA0FA;
  --pri-card2-content-bg:#4747A1;
  --pri-card3-content-bg:#7978E9;
}
.main_container {
    margin-left: 270px;
    width: calc(100% - 270px);
    height: 100%;
    font-family: "Poppins", sans-serif;
    transition: all 300ms ease-in;
    background-color:var(--pri-sidebar-hover);
    /* background-color: blue; */
  }
  /* .search_form{
  
  
  }
  .search_form input{
  
    height: 1.8em;
    font-size: 22px;
    width:15em;
  }
  .search_form input:focus{
    outline: none;
  }
  .search_form label{
    position: absolute;
    display: inline-flex;
    height: 2.9em;
    border-radius: 0px;
    background-color: rgb(144, 176, 221);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    width: 4em;
  }
  .search_form label button{
    background: none;
    border: none;
    width: 4em;
    height: 2.9em;
    cursor: pointer;
  
  } */
  /* ----------------------section------------------ */
  .section_container {
    width: 100%;
  }
  .section_content {
    padding: 14px;
  }
  
  .section_content a {
    display: inline-flex;
    gap: 10px;
    width: 100%;
    text-decoration: none;
  }
  .section_content a span:nth-child(1) {
    font-size: 40px;
  }
  .section_content a span {
    font-size: 28px;
    font-weight: 700;
  }
  .grid_container {
    display: grid;
    width: 80%;
    height: 190px;
    /* background-color: rgb(202, 85, 85); */
    margin-left: 10%;
    margin-top: 3%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    transition: all 300ms ease-in;
  }
  .grid_container a{
    text-decoration: none;
    color: var(--pri-card-content-color);
  }
  .grid_card {
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 1px 0px 6px -1px rgba(161,188,204,0.85);
  -webkit-box-shadow: 1px 0px 6px -1px rgba(161,188,204,0.85);
  -moz-box-shadow: 1px 0px 6px -1px rgba(161,188,204,0.85);
  color: var(--pri-card-content-color);
  overflow: hidden;
  
  }
  .card1 {
    background: var(--pri-card1-content-bg);
   }
   .card2{
  background-color: var(--pri-card2-content-bg);
   }
  .card3{
    background-color: var(--pri-card3-content-bg);
  }
  .card1 a h3,.card2 a h3,.card3 a h3{
    padding-left:10px
  }
  .data{
    padding-left:10px;
    margin-top: 4px;
    font-size: xx-large;
  }
   .content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color:blue ; */
    color: var(--pri-card-content-color);
    
   }
   .content span{
    font-size: 28px;
    font-weight: 600;
    /* color: white; */
   }
   .content p{
    margin-top: 12%;
   }
  .menu1{
    background-color: var(--pri-sidebar-hover);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
  }
  .menu1 span{
    color: rgb(54, 46, 46);
  }
   @media screen and (max-width: 900px){
    .grid_container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px 150px;
      height: 315px;
    }
    .content p{
      margin-top: 2%;
    }
   }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 70px;
    }
    .main_container {
      margin-left: 70px;
      width: calc(100% - 70px);
    }
    .respon_dash,
    .image span {
      opacity: 0;
      display: none;
    }
   
  }
  @media screen and (max-width: 550px){
    .grid_container {
      grid-template-columns: 1fr ;
      grid-template-rows: 150px 150px 150px;
      height: 500px;
    }
    .content p{
      margin-top: 3%;
    }
  }